@import "tailwindcss" important;

[data-layout="landing"] .vocs_DesktopTopNav {
  max-width: var(--vocs-content_width);
  margin: 0 auto;
  padding: 0 var(--vocs-content_horizontalPadding);
}

.vocs_Navigation,
.vocs_NavigationMenu_list {
  align-items: center;
}